

.dataTable-container{
  width: 90%;
}

.dataTable-bottom, .dataTable-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 90%;
}

.pageTable{
  background-color: aquamarine;
}

.ItemPagination a{
  padding: 0px !important;
}